# temp files from editors
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
# hidden files created by Windows
Thumbs.db
desktop.ini
# environment-dependent config files
/application/configs/main.json
/application/configs/assets.json
.htaccess
# images files
/public/img/*.xcf
/public/img/articles/*
/public/img/newspapers/*