[submodule "system"]
	path = system
	url = https://github.com/adrien-gueret/Eliya.git
[submodule "application/vendors/EntityPHP"]
	path = application/vendors/EntityPHP
	url = https://github.com/adrien-gueret/EntityPHP.git
	branch = master
