@import url(//fonts.googleapis.com/css?family=Kaushan+Script);

html, body {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: Arial, sans-serif;
	text-align: justify;
	color: #222;
	background-color: #dfe0db;
	background-image: url(../img/design/bg.jpg);
	background-attachment: fixed;
}

body > header {
	background-color: transparent;
	color: #222;
	padding: 15px 0 0 0;
	text-align: center;
}

body > main {
	position: relative;
	z-index: 10;
}

body > footer {
	padding-right: 10px;
	padding-bottom: 5px;
	height: 32px;
}

body > footer .social-networks {
	position: fixed;
	z-index: 5;
	right: 0;
	bottom: 0;
}

body > footer .social-networks a {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 1px;
	background-image: url(../img/design/social_icons.png);
	opacity: .5;
	transition: opacity 200ms;
}

body > footer .social-networks a:hover {
	opacity: 1;
}

body > footer .social-networks a[title="Facebook"] {background-position: 0 0;}
body > footer .social-networks a[title="Twitter"] {background-position: -32px 0;}
body > footer .social-networks a[title="GitHub"] {background-position: -64px 0;}

#logo {
	font-size: 3em;
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Kaushan Script', cursive;
}

@media screen and (max-width: 455px) {
	#logo {
		font-size: 2em;
	}
}

body > header nav {
	color: #222;
	background-color: #fff;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	margin: 15px 0;
}

body > header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body > header li {
	display: inline-block;
	margin: 5px;
	height: 32px;
	padding: 0;
	line-height: 32px;
	text-align: center;
}

body > header li:first-of-type {
	margin-left: 15px;
}

body > header .logout_link {
	float: right;
}

body header li a, body header li a:visited {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	padding: 5px;
	background-color: transparent;
	border-radius: 0;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	-ms-transition: 200ms;
	transition: 200ms;
}

body header li a:hover {
	background-color: #222;
	color: #fff;
	border-radius: 45%;
}

body > main {
	display: block;
	padding: 2%;
	max-width: 1150px;
	background-color: #fff;
	margin: 2% auto;
	box-shadow: 0 0 5px 0 #000;
}

main h1, main h2, main h3 {
	text-align: left;
}

/* Articles */
main > header {
	color: #fff;
	padding: 0;
	height: 20vw;
	min-height: 150px;
	border: 1px solid #222;
	border-bottom: 0;
	background-color: #e3e3e3;
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
	background-image: url(../img/articles/no_image.png);
}

main > header h1 {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	background-color: rgba(0, 0, 0, .6);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 1.8em;
}

.article-introduction {
	font-weight: bold;
}

main > aside.article-infos {
	font-size: .9rem;
	margin-top: 0;
	padding: 3px;
	border: 1px solid #222;
	border-top: 0;
	text-align: left;
	background-color: #e3e3e3;
}

main > aside.article-infos form {
	display: inline;
}

main > aside.article-infos .publication-status {
	font-weight: bold;
}

main > aside.article-infos .publication-status.published {
	color: green;
}

main > aside.article-infos .publication-status.unpublished {
	color: red;
}

main > footer.article-infos {
	font-size: .9em;
	text-align: center;
}

main > footer.article-infos .other-articles {
	width: 20%;
	display: block;
	height: auto;
	text-align: left;
	margin: auto;
	background-size: cover;
	background-position: center;
	color: inherit;
}

main > footer.article-infos .other-articles.next {
	text-align: right;
}

main > footer .author {
	height: auto;
	padding: 10px;
	cursor: default;
}

main > footer .author:hover {
	box-shadow: none;
}

.other-articles.hidden {
	visibility: hidden;
}

.other-articles span {
	background-image: linear-gradient(to bottom right, #fff, rgba(255, 255, 255, .6));
	height: 100%;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	text-align: left;
}

@media screen and (max-width: 900px) {
	main > footer.article-infos {
		flex-direction: column;
	}

	main > footer.article-infos .other-articles {
		order: 2;
		margin: 5px 0;
		width: auto;
	}

	main > footer .author {
		order: 1;
	}
}

main a, main a:visited {
	text-decoration: none;
	color: #008bff;
}

main a:hover {
	text-decoration: underline;
}

main nav {
	text-align: center;
}

main nav .selected-link {
	font-weight: bold;
}

article figure {
	text-align: center;
	clear: both;
}

article figure.preview {
	width: 200px;
	text-align: center;
	display: block;
	margin: 10px auto;
}

article figure.video div {
	/* Responsive videos
	 Inspired by https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
	position: relative;
	margin: 0 auto 7px auto;
	width: 50%;
	padding-top: 29.125%; /* keep 16:9 ratio */
	height: 0;
}

article figure.video.left div, article figure.video.right div {
	width: 100%;
	padding-top: 56.25%;
}

article figure.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	padding: 2px;
}

article figure.audio audio {
	max-width: 100%;
}

article figcaption {
	display: block;
	font-style: italic;
	font-size: .8em;
	margin-top: 3px;
}

article .left {
	float: left;
}

article .right {
	float: right;
}

article img, table img {
	display: inline-block;
	max-width: 100%;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	padding: 2px;
}

/* Form */
form {
	text-align: center;
	margin-bottom: 10px;
}

form input[type="submit"] {
	cursor: pointer;
}

table form {
	display: inline;
}

main h3 {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5em;
	text-align: center;
}

fieldset {
	display: inline-block;
	border: 1px solid #222;
	border-top-width: 20px;
	border-radius: 5px;
	text-align: left;
	padding-top: 10px;
	line-height: 30px;
}

legend {
	height: 20px;
	border: 1px solid #222;
	background-color: #fff;
	padding: 0 10px;
	font-weight: bold;
	line-height: normal;
}

label {
	display: inline-block;
	min-width: 145px;
	font-weight: bold;
	cursor: pointer;
}

fieldset p {
	margin: 0;
	text-align: center;
}

.label-container {
	text-align: left;
	margin: auto;
	width: 80%;
}

textarea.article {
	display: block;
	margin: 10px auto;
	width: 80%;
	height: 500px;
}

textarea.article.introduction {
	display: block;
	margin: 10px auto;
	width: 80%;
	height: 50px;
}

/* Cards list */
.list-of-cards {
	text-align: center;
}

.card-list {
	width: 40%;
	height: 120px;
	margin: 5px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	padding: 3px;
}

.card-list.article {
	height: 180px;
}

.card-list.category {
	height: 200px;
}

.card-list:hover {
	box-shadow: 0 0 5px 0 #000;
}

article.card-list > a, article.card-list > a:visited, article.card-list > a:hover {
	color: inherit;
	text-decoration: none;
}

.card-list figure {
	display: flex;
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: left;
	background-color: #e3e3e3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.card-list figure figcaption {
	flex: 1;
	padding: 5px;
	font-style: normal;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-list figcaption h2 {
	margin: 0;
	margin-bottom: 5px;
	line-height: 1em;
	height: 2em;
	overflow: hidden;
}

.card-list figcaption h3 {
	margin-top: 0;
	overflow: hidden;
	line-height: 1em;
}

.card-list figcaption p {
	margin: 0;
	overflow: hidden;
}

.card-list.article figcaption {
	background-color: rgba(0, 0, 0, .6);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: .8em;
	color: #fff;
}

.card-list.article figcaption h2 {
	margin: 0;
	line-height: normal;
	height: auto;
}

.card-list figure img {
	height: 100%;
	max-width: 213px;
	box-sizing: border-box;
	padding: 0;
	padding-right: 3px;
	border: 0;
}

.card-list .category-name {
	text-align: left;
	margin: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	font-style: italic;
	position: absolute;
	left: 3px;
	top: 3px;
	z-index: 1;
}

@media screen and (min-width: 900px) {
	article figure.video.left, article figure.video.right {
		width: 40%;
	}
}

@media screen and (max-width: 899px) {
	.card-list {
		width: auto;
		height: 80px;
		display: block;
	}

	.card-list.article figure img {
		max-width: 143px;
	}

	.card-list.category {
		height: 150px;
	}

	.card-list.article {
		height: 120px;
	}

	article figure.left, article figure.right {
		text-align: center;
		float: none;
		width: auto;
	}

	article figure.center div {
		width: 100%;
		padding-top: 56.25%;
	}
}